doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		title
			block title
	body
		.wrapper
			include ../modules/header
			block content
		include ../modules/footer
		script(src="static/js/scripts.min.js")
		


//        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
//        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
//        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
//        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")